# Dependencies
/node_modules


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Optional build output
/dist
/build

# Optional testing files
/coverage

# Misc
.DS_Store
Thumbs.db 